/* General styles | Header, Footer, Central Background
--------------------------------------*/
.underline {
    border-bottom: 2px solid #cccccc; 
}

/* Header
--------------------------------------*/
nav {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 15px;
    font-size: 16px;
    color: #777777;
    text-decoration: none;
}


.navbar {
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

.header-h1 {
    background-color: #4aaaa5;
    padding: 30px;
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.center-anchor {
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

/* Footer
--------------------------------------*/
 footer {   
    text-align: center;
    background-color: #666666;
    padding-top: 35px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #b0acb0;
    border-top: 8px solid #4aaaa5;
 }

/* Central Background
--------------------------------------*/

/* About Page
--------------------------------------*/


/* Portfolio Page
--------------------------------------*/


/* Media Queries
--------------------------------------*/
